.zxc{
    background-image: linear-gradient(to right,violet,white);
    height: 400px;
}

.gt{
    
    margin-left: 20px;
}
.social{
    height: 50px;
    width: 50px;
    margin-left: 20px;
}