
.aq{
  
    margin-left: 700px;
    margin-top: -250px;   
    
}
.pl{
    
    margin-left: 1000px;
}
.p2{
    margin-left: 1000px;
    background-color: black;
    color: white;
    width: 100px;
}